:root{
  /* color */
  --dim-black:#555555;
  --silver-black:#656565;
  --chacol:#848484;
  --gray:#AAAAAA ;
  --silver-gray:#EEEEEE ;
  --main-green :#176328 ;
  --grass-green :#5F7A03 ;
  --sub-green :#5FDA7B ;
  --light-yellow  :#f8f8dd ;
  --white :#fff ; 
  /* font size */
  --font-mega: 55px;
  --font-xxlarge: 40px;
  --font-xlarge: 25px;
  --font-large: 20px;
  --font-midlarge: 18px;
  --font-medium: 16px;
}  